!!! 5
//if lt IE 7
    <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
    <html class="no-js lt-ie9 lt-ie8">
//if IE 8
    <html class="no-js lt-ie9">
// [if gt IE 8] <!
html(class="no-js", lang="en")
    // <![endif]
  head
    title=title
    link( rel='stylesheet',href='/css/main.css' )
    script( src='http://use.typekit.net/pdu4jrt.js' )
    script( src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' )
    //- Using very slightly modified version of typeahead. Discussing fixes with project maintainers on github.
    script( src='/js/typeahead.js' )
    script( src='/js/main.js?1' )
  body#b
    .header
      .main-column
        .logo
          a( accesskey='1', href='/en/' )
            span Logo
    #bd
      div
        .hero-unit
          .main-column
            .search-form
              strong.slogan.
                Serving bus schedules for 
                <a href="/city-list">4379 cities</a> in <a href="/country-list">66 countries</a>.
              h1 Find a bus for your next trip.
              form( action=".", method="GET" )
                input( type="hidden", name="from_norm", id="from_norm" )
                input( type="hidden", name="to_norm", id="to_norm" )
                label#city-from.city
                  span.icon.map-marker( data-icon!="&#xe000;" )
                  span.down-arrow &#x25BC;
                  input.city-select( name="from", tabindex="1", placeholder="From" )
                label#city-to.city
                  span.icon.map-marker( data-icon!="&#xe000;" )
                  span.down-arrow &#x25BC;
                  input.city-select( name="to", tabindex="2", placeholder="To" )
                label#search
                  span.icon( data-icon!="&#xe001;" )
                  input( type="submit", tabindex="3", value="Go" )
              .error-container
                .error-message
                  | One or both of your selections is invalid. Please try again.
