!!! 5
html.en(lang='en')
  head
    title=title
    link(rel='stylesheet',href='/css/main.css')
    script(src='http://use.typekit.net/pdu4jrt.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='/js/main.js')
  body#b
    .header
      .main-column
        .logo
          a(accesskey='1', href='/en/')
            span Logo
    #bd
      div
        .hero-unit
          .main-column
            .search-form
              strong.slogan
                | Serving bus schedules for 
                a(href="http://google.com") 4379 cities
                |  in 
                a(href="http://google.com") 66 countries
              h1 Find a bus for your next trip.
              form
                input#city-from.city-select
                input#city-to.city-select
                input(type="submit", value="Search")
              
